body {
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

header {
    text-align: center;
    margin-top: 20px;
}

table {
    text-align: center;
    width: 100%;
}

.jumbotron {
    background-color: #34393F;
    color: white;
}

.redBG {
    background-color: red;
    color: white;
}

#costDisplayArea {
    text-align: right;
}

#costDisplayArea h2 {
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
