body {
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header {
    text-align: center;
}

h2 {
    margin-top: 50px;
}

#costDisplayArea {
    text-align: right;
}

#costDisplayArea h2 {
    display: inline-block;
    padding: 10px;
}

.redBG {
    background-color: red;
}

table {
    text-align: center;
    width: 100%;
}

table td {
    width: 20%;
}